<div class="container d-flex justify-content-center vh-100">
    <div >
      <div (click)="isFlip()" [ngClass]="flip ? ' flip card shadow  background' : '  card shadow  background' ">
        <div class="face front">
          <div class="d-flex justify-content-between align-items-center " style="height: 70px;">
            <div class="logo d-flex align-items-center">
              <img [src]=logo alt="" style="width: 114px;"> 
            </div>
            <div class="d-flex align-items-center">
              <img src="assets\chip.png" alt="">
            </div>
          </div>
          <div class="card-info text-white ">
            <p class="card-num">Card Number</p>
            <p>{{cardNum   | card  }}</p>
          </div>
          <div class="name-data d-flex justify-content-between align-items-center text-white">
            <div class="name-persone">
              <p class="m-0">{{fullName |titlecase}}</p>
            </div>
            <div class="data-exp">
              <p class="m-0">Valid Thru</p>
              <p class="m-0">{{expMonth }}/{{expYear }}</p>
            </div>
            
          </div>
          
        </div>
        
        <div class="face back ">
          <h6 class="text-white-50">For customer service call +977 4343 3433 or email at mastercard@gmail.com</h6>
          <div class="magnetic-strip"></div>
          <div class="signature">
            <i>{{cvv }}</i>
          </div>
          <h5 class="text-white-50 mt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia maiores sed doloremque nesciunt neque beatae voluptatibus doloribus. Libero et quis magni magnam nihil temporibus? Facere consectetur dolore reiciendis et veniam.
          </h5>

        </div>

        

    </div>
    <div (click)="isForm()" class="btns">
      <svg [ngClass]="!svgRotate? ' svgAdd' : 'svgclose' " xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><style>svg{fill:#fff}</style><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </div>
    <app-form *ngIf="form" (newItemEvent)="resValue($event)" [item]="values"></app-form>
    </div>

</div>
